@media (max-width: 320px){

@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
  font-family: "Montserrat";
  font-size: 20px;
  color: #222;
  background: url(img/absurdity.png);
  background-color: #1c1619;
  }
}












}
