@import url(https://fonts.googleapis.com/css?family=Rock+Salt);

body{
  font-family: "Rock Salt";
  font-size: 16px;
  color: #222;
  background: url(img/absurdity.png);
  background-color: #1c1619;
  }


  h1, h2{
  font-family: "Rock Salt";
  font-weight: bold;
  font-size: 22px;
  color: #222;
}

.container {
  max-width: 690px;
  min-width: 350px;
  margin: 0 auto;
  background: rgba(255, 255, 255, .80);
}

img{
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #222;
}

#objective{
  text-align: left;
}

#education{
  line-height: 25px;
  text-align: left;
}

#experience article{
  padding-bottom: 5px;
  line-height: 15px;
  text-align: left;
}

#contact{
  text-align: center;
}

address{
  font-style: normal;
  text-align: center;
}

header{
  padding: 50px;
  margin: 20px;
  text-align: center;
}

section{
  margin-left: 22px;
  margin-right: 10px;
}

main{
  text-align: center;
  padding-bottom: 20px;
}

a:visited {
  color:rgb(97, 95, 105);
}

nav{
  text-align: center;
}

nav ul li {
  text-align: center;
  display: inline-block;
  padding-right: 10px;
}
